*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid{

  padding: 0px !important;
}


header .logo{
  position: absolute;
  width: 64px;
  height: 64px;

}
.pantalla-uno{
  background-image: url("../assets/img/fondo.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.menu {
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;


}
.menu li{
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
  color: white;
  font-family: 'Exo 2', sans-serif;

}

.pantalla-dos{
  width: 100vw;
  height: 100vh;
  rgb(237, 100, 168);
}

footer{
  height: 70px;
  background-color: rgb(48, 48, 48);
  padding-top: 7px;
}
i{
  font-size: 36px;
  color: white;
  display: inline;
}
p{
  color: white;
}

#btn-home,
#btn-buscar,
#btn-ofertas,
#btn-categorias,
#btn-contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
