*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid{
  background-color: rgb(48, 48, 48);
  padding: 0px !important;
}


header .logo{
  position: absolute;
  width: 64px;
  height: 64px;
  padding: 5px;
  margin: 5px;

}
.pantalla-uno{
  background-image: url("../assets/img/fondo.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.menu {
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;


}
.menu li{
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
  color: white;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 6px 4px 10px black;

}

.pantalla-uno .titulo{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.pantalla-uno .titulo h1{
  font-family: 'Exo 2', sans-serif;
  color: red;
  font-size: 48px;
  font-weight: bolder;

}
.pantalla-dos{
  width: 100vw;
  height: 100vh;
  
}

.pantalla-tres{
  width: 100vw;
  height: 100vh;

  background-attachment: fixed;
}

footer{
  box-shadow: 5px 0 0 black;
  height: 70px;
  background-color: rgb(48, 48, 48);
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
i{
  font-size: 28px;
  color: white;
  display: inline;
}
p{
  color: white;
  font-family: 'Exo 2', sans-serif
}

#btn-home,
#btn-buscar,
#btn-ofertas,
#btn-categorias,
#btn-contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
