*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid{
  background-color: rgb(48, 48, 48);
  padding: 0px !important;
}

header {
  margin-bottom: 0px !important;
}
ul {
  margin-bottom: 0px !important;
}
header .logo{
  position: absolute;
  width: 64px;
  height: 64px;
  padding: 5px;

}
.pantalla-uno{
  background-image: url("../assets/img/fondo.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover !important;
  background-attachment: fixed;
}

.menu {
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;


}
.menu li{
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
  color: white;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 6px 4px 10px black;
}


.pantalla-uno .titulo{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.pantalla-uno .titulo h1{
  font-family: 'Exo 2', sans-serif;
  color: red;
  font-size: 60px;
  font-weight: bolder;

}


.flecha-abajo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 150px;
}

@keyframes moverFlecha {
  0%{
    top: 0px;
  }
  50%{
    top: 20px;
  }
  100%{
    top: 0px;
  }
}
.flecha-abajo i{
  position: relative;
  color: white;
  font-size: 60px;
  animation-name: moverFlecha;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

/* Pantalla DOS */

.pantalla-dos{
  width: 100vw;

  padding-top: 30px;

}
 h2 {
  color: white;
  margin-left: 16px;
  margin-top: 50px;
}
.slider{
  display: flex;
  overflow-x: auto;

}
.slider::-webkit-scrollbar{
  display: none;
}

.slider .sector{
  min-width: 100px;
  height: 100px;
  background-color: rgb(115, 115, 115);
  margin: 10px;
  padding-top: 10px;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px -5px 15px black inset, -10px 5px 25px rgb(180, 180, 180) inset ;

}

.slider .sector i{
  font-size: 40px;
}


.slider .oferta{
  min-width: 200px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  margin: 16px;
  padding: 0px 5px 0px 5px;
  border-radius: 15px;
  box-shadow: 10px -5px 10px rgb(32, 32, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider .oferta p{
  font-size: 24px;
  color: black;
  margin-bottom: 0px !important;
}
.slider .oferta i{
  font-size: 120px;
  color: black;
}

.publicidad{
  margin-top: 50px;
  width: 100%;
  height: 200px;
  background-color: rgb(189, 116, 182);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

}


/* PANTALLA TRES*/

.pantalla-tres{
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

footer{
  box-shadow: 5px 0 0 black;
  height: 70px;
  background-color: rgb(48, 48, 48);
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
i{
  font-size: 28px;
  color: white;
  display: inline;
}
p{
  color: white;
  font-family: 'Exo 2', sans-serif
}

#btn-home,
#btn-buscar,
#btn-ofertas,
#btn-categorias,
#btn-contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
