
body{
  min-height: 100vh; 
}
header{

}

.milista .col, .milista .col-1, .milista .col-3{
  padding: 0px !important;
}
.milista .precio-venta{
  padding-right: 10px !important;
}

.lista i{
  color: red;
  font-size: 20px;
  margin-bottom: 16px !important;
}
.lista p i{
  margin-right: 10px;
}

tr th i{
  color:red;
}

.enviar-pedido{
  display: flex;
  justify-content: center;
  align-items: center;

}




footer{
  box-shadow: 5px 0 0 black;
  height: 60px;
  background-color: black;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
}
#btn-home p,
#btn-milista p,
#btn-ofertas p,
#btn-categorias p,
#btn-contacto p,
#btn-buscar p {
  margin-bottom: 4px !important;
  color: white;
  font-family: 'Exo 2', sans-serif;
}

footer i{
  font-size: 28px;
  color: white;
  display: inline;
}


#btn-home,
#btn-milista,
#btn-ofertas,
#btn-contacto,
#btn-buscar {

  display: flex;
  justify-content: center;
  flex-direction: column;
}

#btn-home i{
  color: red;
}
#btn-buscar i{
  color: rgb(0, 133, 255);
}
#btn-ofertas i{
  color: rgb(255, 161, 161);
}
#btn-contacto i{
  color: #4FCE5D;
}
#btn-milista i{
  color: rgb(247, 254, 112);
}
